* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    width: 100%;
}
.abhaya-libre-medium {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-style: normal;
}
.abhaya-libre-regular {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.title {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #cdb9a7;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdb9a7;
    height: 100px;
    color: white;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1005;
    top: 0;
    left: 0;
    background-color: #C0A891;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidebar a {
    padding: 15px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.toggle-button {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    font-size: 30px;  
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 40px;
    background-color: #F8F5F0;
    gap: 30px;
}
.top h1 {
    font-size: 5em;
}
.top p {
    font-size: 2em;
}
button {
    display: block;
    background-color: burlywood;
    height: 50px;
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
}
.head {
    font-size: 64px;
}
.para {
    font-size: 32px;
    width: 70%;
    letter-spacing: 3px;
    margin :20px 0;
    text-align: center;
}
.sectop{
   display:flex; 
   flex-direction :column; 
   align-items :center; 
   padding :60px 0;
   background-color: #cdb9a7;
}

img {
   width :100%;
   height: 70%;
}
.started {
   display:flex; 
   height:auto;
   justify-content :space-around;
   background-color: #cdb9a7;
   padding-bottom: 150px;
}
.box {
   display:flex;  
   flex-direction :column;  
   align-items :center;  
   gap :20px;  
}
.thirdtop {
    background-color: #cdb9a7;
    padding-top: 60px;
    text-align: center;
}
.rectangle {
    height: 500px;
    width: 357px;
    background-color: #F8F5F0;
    margin:40px;
    border-radius: 20px;
}
.container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonies {  
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    padding: 40px;
}

.fbutton {  
   display:flex;   
   border :8px solid black;   
   justify-content: center;
   background-color: #cdb9a7;
   padding-bottom: 60px;
}
.questions {
    padding: 20px;
}
footer ul{
    padding-left: 20px;
}
.box {
    display: flex;
    align-items: center;
    justify-content:center;
}
.form-box {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.form-box input {
    font-size: 18px;
    color: black;
    padding: 15px 10px;
    border:none;
    outline: none;
    background: #F8F5F0;
}
.form-box button {
    color: black;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #C0A891;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}
.form-box button:hover {
    background-color: #C0A891;
}
.th {
    background-color: #cdb9a7;
    padding: 60px 0;
}
@media only screen and (max-width: 480px) { 
    body {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    .top {
        gap: 10px;
    }
    .title h1 {
        font-size: 25px;
    }
    .top h1 {
        font-size: 2em;
    }
    .top p {
        font-size: 1em;
    }
    button {
        margin: 10px;
        justify-self: center; 
        width: calc(100% - 20px);
        padding: 10px;
        font-size: 16px;
    }

    main section h2 {
        height: auto;
        width: auto;
        font-size: 18px;
        margin: 10px 0; 
    }
    .container {
        display: flex; 
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        max-width: 100%;
        padding: 10px;
    }
    .rectangle {
        width: 60%;
        min-width: 300px;
        margin: 10px;
    }
    .testimonies {  
        font-size: 19px;
        letter-spacing: 1px;
    }
    .started {
        flex-wrap: wrap; 
        overflow-x: hidden; 
        width: 100%;
    }
    .head {
        font-size: 30px;
    }
    .para {
        letter-spacing: normal;
        font-size: 15px;
    }
    .started .box img {
        width: 70%;
        height: auto;
    }
    button {
        display: block;
        background-color: burlywood;
        height: auto;
        width: 50%;
    }
    .form-box {
        padding: 2px;
        border-radius: 5px;
        background-color: white;
    }
    .form-box input {
        font-size: 10px;
        color: black;
        padding: 7px 2px;
        border:none;
        outline: none;
        background: #F8F5F0;
    }
    .form-box button {
        color: black;
        padding: 7px 0;
        font-size: 12px;
        border: none;
        border-radius: 5px;
        background: #C0A891;
        cursor: pointer;
        transition: .3s;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1300px) {
    body {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    button {
        margin: 10px;
        justify-self: center; 
        width: calc(100% - 20px);
        padding: 10px;
        font-size: 16px;
    }

    main section h2 {
        height: auto;
        width: auto;
        font-size: 18px;
        margin: 10px 0;
    }

    .started {
        flex-wrap: wrap; 
        overflow-x: hidden; 
        width: 100%;
    }
    .container {
        display: flex; 
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        max-width: 100%;
        padding: 10px;
    }
    .rectangle {
        width: 60%;
        min-width: 300px;
        margin: 10px;
    }
    .testimonies {  
        font-size: 19px;
        letter-spacing: 1px;
    }
    .head {
        font-size: 50px;
    }
    .para {
        letter-spacing: 0.1;
        font-size: 25px;
    }
    button {
        display: block;
        background-color: burlywood;
        height: auto;
        width: 50%;
    }
    .form-box {
        padding: 2px;
        border-radius: 5px;
        background-color: white;
    }
    .form-box input {
        font-size: 10px;
        color: black;
        padding: 7px 2px;
        border:none;
        outline: none;
        background: #F8F5F0;
    }
    .form-box button {
        color: black;
        padding: 7px 0;
        font-size: 12px;
        border: none;
        border-radius: 5px;
        background: #C0A891;
        cursor: pointer;
        transition: .3s;
        text-align: center;
    }
}

